body {
    font-family: "Carrois Gothic SC";
}

.report-value {
    color:#686868;
}

#search-form {
    padding-top: 10px;
    padding-bottom: 10px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#search-form .row {
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    font-size: 13pt;
}

.input-title {
    text-decoration: underline;
    font-size: 17pt;
}

.input-title label {
    text-decoration: none;
}

.input-separator div {
    border-bottom: 2px dotted #D2C692;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #B1D2E1;
    *background-color: #B1D2E1;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B1D2E1), to(#0281ba));
    background-image: -webkit-linear-gradient(top, #B1D2E1, #0281ba);
    background-image: -o-linear-gradient(top, #B1D2E1, #0281ba);
    background-image: linear-gradient(to bottom, #B1D2E1, #0281ba);
    background-image: -moz-linear-gradient(top, #B1D2E1, #0281ba);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #0281ba;
    *background-color: #B1D2E1;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.report_column {
    text-decoration: underline;
    font-size: 17px;
    font-weight: normal;
    line-height: 20px;
}

.table th {
    font-weight: normal !important;
}

tr {
    text-align: center;
}

h2 span {
    color: #B11A2E; 
}
