.report-value {
    color:#686868;
}

#search-form {
    background-color: #D2C692;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#search-form .row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-title{
    font-size: 14pt;
}
