{% extends 'grants/base.html' %}
{% block content %}

<p>{{grantee}} has already submitted an application to {{cycle.title}}.</p>
<p>If you wish to view a selected application, select it from the "submitted applications" list on your home page.</p>
<p>Applications can not be modified once they are submitted.  If there was an error in your application, please contact the staff person in charge of that grant cycle - see this page for a directory</p>
<p>If you believe this is an error, please contact [insert contact info/method]</p>

{% endblock %}