<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<title>{% block title %}SJF Grants{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" media="Screen"/>
	{% block script %} {% endblock %}
</head>

<body>
	<div id="org_wrapper">
		<div id="nav_menu">
				<a href="/org">
					<img id="logo" src="/static/images/logo_horiz.png" align="middle">home
				</a>
		</div>
		{% block content %} {% endblock %}	
		<br><br><br>
		<table id="org_footer"><tr>
			<td style="width:50%;"><a href="/org/support">support</a></td>
			<td style="width:5%;"></td>
			<td style="width:45%;text-align:right;">{% if request.user.is_authenticated %}
				{{request.user.email}} | <a href="/logout">log out</a>
				{% elif not register %}<a href="/org/login">log in</a>{% endif %}</td>
		</tr></table>
	</div>
</body>

</html>





