<div align="center">
	Select a step or write your own description.
	<br><br>
	<div class="sugg_step" id="sugg_1" onclick="suggestFill(this, '{{target}}')">Talk to about project
	</div>
	<div class="sugg_step" id="sugg_2" onclick="suggestFill(this, '{{target}}')">Invite to panel
	</div>
	<div class="sugg_step" id="sugg_3" onclick="suggestFill(this, '{{target}}')">Ask
	</div>
	<div class="sugg_step" id="sugg_4" onclick="suggestFill(this, '{{target}}')">Follow up
	</div>
	<div class="sugg_step" id="sugg_5" onclick="suggestFill(this, '{{target}}')">Thank
	</div>
</div>