<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/script.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <!--TODO: Add default 'if nothing selected' then ALL VALUES OK!-->
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <h1 class="offset3 span5">search // <small>find your grants.</small></h1>
                </div>
            </div>
            <form id="search-form" action="results"> <!--TODO: Fill in action-->
                <div class="row">
                    <div class="offset3 span2">
                        <label class="input-title">Grantee/Organization</label>
                        <input type="text" name="grantee">
                    </div>
                </div>
                <div class="row input-separator">
                    <div class="span6 offset3"></div>
                </div>
                <div class="row">
                    <div class="span3"></div>
                    <div class="span3">
                        <label class="input-title">City</label>
                        <input id="city-textarea" type="text" name="city">
                    </div>
                    <div class="span3">
                        <label class="input-title">State</label>
                        <label id="state-label" class="radio">
                            <input type="radio" name="state" value="ID">Idaho</input><br />
                            <input type="radio" name="state" value="MT">Montana</input><br />
                            <input type="radio" name="state" value="OR">Oregon</input><br />
                            <input type="radio" name="state" value="WA">Washington</input><br />
                            <input type="radio" name="state" value="WY">Wyoming</input>
                        </label>
                    </div>
                    <div class="span3"></div>
                </div>
                
                <div class="row input-separator">
                    <div class="span6 offset3"></div>
                </div>

                <div class="row">
                    <div class="span3"></div>
                    <div class="span3">
                        <label class="input-title">Giving Project Type</label>
                        <label class="radio">
                            <input type="radio" name="project_type" value="civic_action_project">Civic Action Project<br />
                            <input type="radio" name="project_type" value="criminal_justice_giving_project">Criminal Justice Giving Project<br />
                            <input type="radio" name="project_type" value="economic_justice_giving_project">Economic Justice Giving Project<br />
                            <input type="radio" name="project_type" value="lgbtq_giving_project">LGBTQ Giving Project<br />
                            <input type="radio" name="project_type" value="montana_giving_project">Montana Giving Project<br />
                            <input type="radio" name="project_type" value="next_generation_giving_project">Next Generation Giving Project<br />
                            <input type="radio" name="project_type" value="social_justice_giving_project_portland">Social Justice Giving Project (Portland)
                        </label>
                    </div>
                    <div class="span3">
                        <label class="input-title">Grant Status</label>
                        <label class="radio">
                            <input type="radio" name="grant_status" value="10">Received<input><br />
                            <input type="radio" name="grant_status" value="20">Incomplete</input><br />
                            <input type="radio" name="grant_status" value="30">Complete</input><br />
                            <input type="radio" name="grant_status" value="40">Proposal Denied</input><br />
                            <input type="radio" name="grant_status" value="50">Proposal Accepted</input><br />
                            <input type="radio" name="grant_status" value="60">Grant Denied</input><br />
                            <input type="radio" name="grant_status" value="70">Grant Issued</input><br />
                            <input type="radio" name="grant_status" value="80">Grant Paid</input><br />
                            <input type="radio" name="grant_status" value="90">Closed</input>
                        </label>
                    </div>
                    <div class="span3"></div>
                </div>

                <div class="row input-separator">
                    <div class="span6 offset3"></div>
                </div>

                <div class="row">
                    <div class="span3"></div>
                    <div class="span3">
                        <label class="input-title">People of Color?<br />
                            <label class="radio inline"><input type="radio" name="diverse" id="diverse_yes" value="yes">Yes</label><label class="radio inline"><input type="radio" name="diverse" id="diverse_no" value="no">No</label>
                        </label>
                    </div>
                    <div class="span3">
                        <label class="input-title">Year</label>
                        <input type="number" placeholder="" min="1978" max="2012" name="year">
                    </div>
                    <div class="span3"></div>
                </div>

                <div class="row input-separator">
                    <div class="span6 offset3"></div>
                </div>

                <div class="row">
                    <div class="span4"></div>
                    <div class="span4">
                        <button type="submit" class="btn btn-block btn-primary btn-large" value="Submit form">Submit</button>
                    </div>
                    <div class="span2"></div>
                </div>
              
                <!--<label>Location Type</label>
                <label class="radio">
                    <input type="radio" name="location_type" id="rural_radio" value="rural">
                    Rural
                </label>
                <label class="radio">
                    <input type="radio" name="location_type" id="urban_radio" value="urban">
                    Urban
                </label>-->

                <!--For future use
                <label>Issue Area</label>
                <label>Organizing Style</label>
                <label>Diversity Criteria</label>
                -->
            </form>
        </div>
    </body>
</html>
