<!DOCTYPE html>
<!-- Python vars: grant_application, grantee -->
<html>
    <head>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <div class="page-header">
            <h1>{{ grant_application.organization }} <small>{{ grant_application.submission_time }}</small></h1>
        </div>
        <h2>{{ grant_application.city }}, {{ grant_application.state }}</h2>
        <h2>Giving Type: {{ grant_application.grant_cycle.project_set }}</h2>
        <h2>Grant Status: {{ grant_application.screening_status }}</h2>
        <h2>People of Color: {{ grant_application.scoring_bonus_poc }}</h2>
        <h2>{{ grantee.name }}</h2>
    </body>
</html>
